extends layout

block content
    if bikes[0]
        div.panel.panel-success
            div.panel-heading
                h2= bikes[0].name
            div.panel-body
                img.img-thumbnail( src= '/images/bikes/' + bikes[0].picurl)
            div.panel-footer
                ul.nav.nav-tabs
                    li( class='active')
                        a( href='#features' data-toggle='tab') 技术简介
                    li
                        a( href='#specifications' data-toggle='tab') 详细配置
                div.tab-content
                    div.tab-pane.fade.in.active( id='features')
                        h3 特性
                        p= bikes[0].features.h1_value
                        //h3 科技
                        //p= bikes[0].technology
                    div.tab-pane.fade( id='specifications')
                        .row
                            .col-12.col-sm-4.col-lg-4
                                h4 车架
                                p= bikes[0].specifications.Frame
                            .col-12.col-sm-4.col-lg-4
                                h4 前叉
                                p= bikes[0].specifications.Fork
                            .col-12.col-sm-4.col-lg-4
                                h4 曲柄
                                p= bikes[0].specifications.Crank
                        .row
                            .col-12.col-sm-4.col-lg-4
                                h4 中轴
                                p= bikes[0].specifications.BottomBracket
                            .col-12.col-sm-4.col-lg-4
                                h4 变速把手
                                p= bikes[0].specifications.Shifters
                            .col-12.col-sm-4.col-lg-4
                                h4 传动齿盘
                                p= bikes[0].specifications.CogSet
                        .row
                            .col-12.col-sm-4.col-lg-4
                                h4 链条
                                p= bikes[0].specifications.Chain
                            .col-12.col-sm-4.col-lg-4
                                h4 前变速器
                                p= bikes[0].specifications.FrontDerailleur
                            .col-12.col-sm-4.col-lg-4
                                h4 后变速器
                                p= bikes[0].specifications.RearDerailleur
                        .row
                            .col-12.col-sm-4.col-lg-4
                                h4 轮圈
                                p= bikes[0].specifications.Rims
                            .col-12.col-sm-4.col-lg-4
                                h4 花鼓
                                p= bikes[0].specifications.Hubs
                            .col-12.col-sm-4.col-lg-4
                                h4 外胎
                                p= bikes[0].specifications.Tires
                        .row
                            .col-12.col-sm-4.col-lg-4
                                h4 脚踏
                                p= bikes[0].specifications.Pedals
                            .col-12.col-sm-4.col-lg-4
                                h4 刹车
                                p= bikes[0].specifications.Brakes
                            .col-12.col-sm-4.col-lg-4
                                h4 车把
                                p= bikes[0].specifications.Handlebar
                        .row
                            .col-12.col-sm-4.col-lg-4
                                h4 把立
                                p= bikes[0].specifications.Stem
                            .col-12.col-sm-4.col-lg-4
                                h4 碗组
                                p= bikes[0].specifications.Headset
                            .col-12.col-sm-4.col-lg-4
                                h4 制动杆
                                p= bikes[0].specifications.BrakeLevers
                        .row
                            .col-12.col-sm-4.col-lg-4
                                h4 辐条
                                p= bikes[0].specifications.Spokes
                            .col-12.col-sm-4.col-lg-4
                                h4 把套
                                p= bikes[0].specifications.Grips
                            .col-12.col-sm-4.col-lg-4
                                h4 鞍座
                                p= bikes[0].specifications.Saddle
                        .row
                            .col-12.col-sm-4.col-lg-4
                                h4 座杆
                                p= bikes[0].specifications.SeatPost
                            .col-12.col-sm-4.col-lg-4
                                h4 后叉
                                p= bikes[0].specifications.RearShock
                            .col-12.col-sm-4.col-lg-4
                                h4 其他
                                p= bikes[0].specifications.Extras
        div.alert.alert-success
            -var cny = bikes[0].price.cny || parseFloat( bikes[0].price.usd.match( /\d+/)[0]) * 6.12
            -var price = '价格: ' + bikes[0].price.usd + '(美元) ' + cny + '(人民币) '
            h5= price
        include comment.jade
